<html>

<head>
    <title>
        Modelo 303 - TheGestor
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="<%- jsUrl %>"></script>
    <link href="<%- cssUrl %>" rel="stylesheet">
</head>

<body>
    <div class="gf-main-container p-2">
        <p style="color:red;">
            <b>
                Este pdf es un borrador generado automáticamente, tiene propósitos ilustrativos y deberá ser validado
                antes de ser presentado oficialmente.
            </b>
        </p>
    </div>
    <form method="POST" action="<%- postUrl %>" id="taxForm" name="taxForm">
        <input type="hidden" name="type" value="<%= formType %>" />
        <input type="hidden" name="authToken" value="<%= authToken %>" />
        <input type="hidden" name="userId" value="<%= userId %>"/>

        <!-- ---------- PAGE 1 ------------- -->
        <div class="gf-main-container">
            <img src="<%- imageBaseUrl + '/form303_1.jpeg' %>" style="width: 100%;height: auto;" />
            <input type="text" name="year" value="<%= year %>" class="gf-input gf-year" readonly />
            <input type="text" name="trimester" value="<%= trimester %>" class="gf-input gf-trimester" readonly />
            <input type="text" name="cifNif" value="<%= cifNif %>" class="gf-input gf-cifnif" readonly />
            <input type="text" name="name" value="<%= name %>" class="gf-input gf-name" readonly />
            <input class="form-check-input mt-0 gf-in-1-1" type="radio" name="1" value="1" id="gf-in-1-1" <%= data['1'] === '1' ? 'checked' : '' %>>
            <input class="form-check-input mt-0 gf-in-1-2" type="radio" name="1" value="2" id="gf-in-1-2" <%= data['1'] === '1' ? '' : 'checked' %>>
            <input class="form-check-input mt-0 gf-in-2-1" type="radio" name="2" value="1" id="gf-in-2-1" <%= data['2'] === '1' ? 'checked' : '' %>>
            <input class="form-check-input mt-0 gf-in-2-2" type="radio" name="2" value="2" id="gf-in-2-2" <%= data['2'] === '1' ? '' : 'checked' %>>
            <input class="form-check-input mt-0 gf-in-3-1" type="radio" name="3" value="1" id="gf-in-3-1" <%= data['3'] === '1' ? 'checked' : '' %>>
            <input class="form-check-input mt-0 gf-in-3-2" type="radio" name="3" value="2" id="gf-in-3-2" <%= data['3'] === '1' ? '' : 'checked' %>>
            <input class="form-check-input mt-0 gf-in-4-1" type="radio" name="4" value="1" id="gf-in-4-1" <%= data['4'] === '1' ? 'checked' : '' %>>
            <input class="form-check-input mt-0 gf-in-4-2" type="radio" name="4" value="2" id="gf-in-4-2" <%= data['4'] === '1' ? '' : 'checked' %>>
            <input class="form-check-input mt-0 gf-in-5-1" type="radio" name="5" value="1" id="gf-in-5-1" <%= data['5'] === '1' ? 'checked' : '' %>>
            <input class="form-check-input mt-0 gf-in-5-2" type="radio" name="5" value="2" id="gf-in-5-2" <%= data['5'] === '1' ? '' : 'checked' %>>
            <input class="form-check-input mt-0 gf-in-6" value="1" name="6" type="checkbox" <%= data['6'] === '1' ? 'checked' : '' %> >
            <input class="form-check-input mt-0 gf-in-7" value="1" name="7" type="checkbox" <%= data['7'] === '1' ? 'checked' : '' %> >
            <input class="form-check-input mt-0 gf-in-8-1" type="radio" name="8" value="1" id="gf-in-8-1" <%= data['8'] === '1' ? 'checked' : '' %>>
            <input class="form-check-input mt-0 gf-in-8-2" type="radio" name="8" value="2" id="gf-in-8-2" <%= data['8'] === '1' ? '' : 'checked' %>>
            <input type="text" name="9" value="<%= data['9'] ? data['9'] : '' %>" class="gf-input gf-in-9" />
            <input class="form-check-input mt-0 gf-in-10-1" type="radio" name="10" value="1" id="gf-in-8-1" <%= data['10'] === '1' ? 'checked' : '' %>>
            <input class="form-check-input mt-0 gf-in-10-2" type="radio" name="10" value="2" id="gf-in-8-2" <%= data['10'] === '2' ? 'checked' : '' %>>
            <input class="form-check-input mt-0 gf-in-11" value="1" name="11" type="checkbox" <%= data['11'] === '1' ? 'checked' : '' %> >
            <input class="form-check-input mt-0 gf-in-12-1" type="radio" name="12" value="1" id="gf-in-12-1" <%= data['12'] === '1' ? 'checked' : '' %>>
            <input class="form-check-input mt-0 gf-in-12-2" type="radio" name="12" value="2" id="gf-in-12-2" <%= data['12'] === '1' ? '' : 'checked' %>>
            <input class="form-check-input mt-0 gf-in-13-1" type="radio" name="13" value="1" id="gf-in-13-1" <%= data['13'] === '1' ? 'checked' : '' %>>
            <input class="form-check-input mt-0 gf-in-13-2" type="radio" name="13" value="2" id="gf-in-13-2" <%= data['13'] === '1' ? '' : 'checked' %>>

            <input type="number" name="14" value="<%= data['14'] ? data['14'] : '0.00'  %>" class="gf-input gf-in-14 currency" />
            <input type="number" name="15" value="<%= data['15'] ? data['15'] : '0.00'  %>" class="gf-input gf-in-15 currency" />
            <input type="number" name="16" value="<%= data['16'] ? data['16'] : '0.00'  %>" class="gf-input gf-in-16 currency" />
            <input type="number" name="17" value="<%= data['17'] ? data['17'] : '0.00'  %>" class="gf-input gf-in-17 currency" />
            <input type="number" name="18" value="<%= data['18'] ? data['18'] : '0.00'  %>" class="gf-input gf-in-18 currency" />
            <input type="number" name="19" value="<%= data['19'] ? data['19'] : '0.00'  %>" class="gf-input gf-in-19 currency" />
            <input type="number" name="20" value="<%= data['20'] ? data['20'] : '0.00'  %>" class="gf-input gf-in-20 currency" />
            <input type="number" name="21" value="<%= data['21'] ? data['21'] : '0.00'  %>" class="gf-input gf-in-21 currency" />
            <input type="number" name="22" value="<%= data['22'] ? data['22'] : '0.00'  %>" class="gf-input gf-in-22 currency" />
            <input type="number" name="23" value="<%= data['23'] ? data['23'] : '0.00'  %>" class="gf-input gf-in-23 currency" />
            <input type="number" name="24" value="<%= data['24'] ? data['24'] : '0.00'  %>" class="gf-input gf-in-24 currency" />
            <input type="number" name="25" value="<%= data['25'] ? data['25'] : '0.00'  %>" class="gf-input gf-in-25 currency" />
            <input type="number" name="26" value="<%= data['26'] ? data['26'] : '0.00'  %>" class="gf-input gf-in-26 currency" />
            <input type="number" name="27" value="<%= data['27'] ? data['27'] : '0.00'  %>" class="gf-input gf-in-27 currency" />
            <input type="number" name="28" value="<%= data['28'] ? data['28'] : '0.00'  %>" class="gf-input gf-in-28 currency" />
            <input type="number" name="29" value="<%= data['29'] ? data['29'] : '0.00'  %>" class="gf-input gf-in-29 currency" />
            <input type="number" name="30" value="<%= data['30'] ? data['30'] : '0.00'  %>" class="gf-input gf-in-30 currency" />
            <input type="number" name="31" value="<%= data['31'] ? data['31'] : '0.00'  %>" class="gf-input gf-in-31 currency" />
            <input type="number" name="32" value="<%= data['32'] ? data['32'] : '0.00'  %>" class="gf-input gf-in-32 currency" />
            <input type="number" name="33" value="<%= data['33'] ? data['33'] : '0.00'  %>" class="gf-input gf-in-33 currency" />
            <input type="number" name="34" value="<%= data['34'] ? data['34'] : '0.00'  %>" class="gf-input gf-in-34 currency" />
            <input type="number" name="35" value="<%= data['35'] ? data['35'] : '0.00'  %>" class="gf-input gf-in-35 currency" />
            <input type="number" name="36" value="<%= data['36'] ? data['36'] : '0.00'  %>" class="gf-input gf-in-36 currency" />
            <input type="number" name="37" value="<%= data['37'] ? data['37'] : '0.00'  %>" class="gf-input gf-in-37 currency" />
            <input type="number" name="38" value="<%= data['38'] ? data['38'] : '0.00'  %>" class="gf-input gf-in-38 currency" />
            <input type="number" name="39" value="<%= data['39'] ? data['39'] : '0.00'  %>" class="gf-input gf-in-39 currency" />
            <input type="number" name="40" value="<%= data['40'] ? data['40'] : '0.00'  %>" class="gf-input gf-in-40 currency" readonly />
            <input type="number" name="41" value="<%= data['41'] ? data['41'] : '0.00'  %>" class="gf-input gf-in-41 currency" />
            <input type="number" name="42" value="<%= data['42'] ? data['42'] : '0.00'  %>" class="gf-input gf-in-42 currency" />
            <input type="number" name="43" value="<%= data['43'] ? data['43'] : '0.00'  %>" class="gf-input gf-in-43 currency" />
            <input type="number" name="44" value="<%= data['44'] ? data['44'] : '0.00'  %>" class="gf-input gf-in-44 currency" />
            <input type="number" name="45" value="<%= data['45'] ? data['45'] : '0.00'  %>" class="gf-input gf-in-45 currency" />
            <input type="number" name="46" value="<%= data['46'] ? data['46'] : '0.00'  %>" class="gf-input gf-in-46 currency" />
            <input type="number" name="47" value="<%= data['47'] ? data['47'] : '0.00'  %>" class="gf-input gf-in-47 currency" />
            <input type="number" name="48" value="<%= data['48'] ? data['48'] : '0.00'  %>" class="gf-input gf-in-48 currency" />
            <input type="number" name="49" value="<%= data['49'] ? data['49'] : '0.00'  %>" class="gf-input gf-in-49 currency" />
            <input type="number" name="50" value="<%= data['50'] ? data['50'] : '0.00'  %>" class="gf-input gf-in-50 currency" />
            <input type="number" name="51" value="<%= data['51'] ? data['51'] : '0.00'  %>" class="gf-input gf-in-51 currency" />
            <input type="number" name="52" value="<%= data['52'] ? data['52'] : '0.00'  %>" class="gf-input gf-in-52 currency" />
            <input type="number" name="53" value="<%= data['53'] ? data['53'] : '0.00'  %>" class="gf-input gf-in-53 currency" />
            <input type="number" name="54" value="<%= data['54'] ? data['54'] : '0.00'  %>" class="gf-input gf-in-54 currency" />
            <input type="number" name="55" value="<%= data['55'] ? data['55'] : '0.00'  %>" class="gf-input gf-in-55 currency" />
            <input type="number" name="56" value="<%= data['56'] ? data['56'] : '0.00'  %>" class="gf-input gf-in-56 currency" />
            <input type="number" name="57" value="<%= data['57'] ? data['57'] : '0.00'  %>" class="gf-input gf-in-57 currency" />
            <input type="number" name="58" value="<%= data['58'] ? data['58'] : '0.00'  %>" class="gf-input gf-in-58 currency" />
            <input type="number" name="59" value="<%= data['59'] ? data['59'] : '0.00'  %>" class="gf-input gf-in-59 currency" />
        </div>
        <hr/>
        <!-- ---------- PAGE 2 ------------- -->
        <div class="gf-main-container">
            <img src="<%- imageBaseUrl + '/form303_2.jpeg' %>" style="width: 100%;height: auto;" />

            <input type="text" value="<%= cifNif %>" class="gf-input gf-cifnif-pg-2" readonly />
            <input type="text" value="<%= name %>" class="gf-input gf-name-pg-2" readonly />

            <input type="number" name="61" value="<%= data['61'] ? data['61'] : ''  %>" class="gf-input gf-in-61" />
            <input type="number" name="62" value="<%= data['62'] ? data['62'] : ''  %>" class="gf-input gf-in-62 currency" />
            <input type="number" name="63" value="<%= data['63'] ? data['63'] : ''  %>" class="gf-input gf-in-63" />
            <input type="number" name="64" value="<%= data['64'] ? data['64'] : ''  %>" class="gf-input gf-in-64 currency" />
            <input type="number" name="65" value="<%= data['65'] ? data['65'] : ''  %>" class="gf-input gf-in-65 currency" />
            <input type="number" name="66" value="<%= data['66'] ? data['66'] : ''  %>" class="gf-input gf-in-66 currency" />
            <input type="number" name="67" value="<%= data['67'] ? data['67'] : ''  %>" class="gf-input gf-in-67 currency" />
            <input type="number" name="68" value="<%= data['68'] ? data['68'] : ''  %>" class="gf-input gf-in-68 currency" />
            
            <input type="number" name="69" value="<%= data['69'] ? data['69'] : ''  %>" class="gf-input gf-in-69" />
            <input type="number" name="70" value="<%= data['70'] ? data['70'] : ''  %>" class="gf-input gf-in-70 currency" />
            <input type="number" name="71" value="<%= data['71'] ? data['71'] : ''  %>" class="gf-input gf-in-71" />
            <input type="number" name="72" value="<%= data['72'] ? data['72'] : ''  %>" class="gf-input gf-in-72 currency" />
            <input type="number" name="73" value="<%= data['73'] ? data['73'] : ''  %>" class="gf-input gf-in-73 currency" />
            <input type="number" name="74" value="<%= data['74'] ? data['74'] : ''  %>" class="gf-input gf-in-74 currency" />
            <input type="number" name="75" value="<%= data['75'] ? data['75'] : ''  %>" class="gf-input gf-in-75 currency" />
            <input type="number" name="76" value="<%= data['76'] ? data['76'] : ''  %>" class="gf-input gf-in-76 currency" />

            <input type="text" value="<%= data['77'] ? data['77'] : '' %>" class="gf-input gf-in-77" />
            <input type="number" name="79" value="<%= data['79'] ? data['79'] : ''  %>" class="gf-input gf-in-79 currency" />
            <input type="number" name="80" value="<%= data['80'] ? data['80'] : ''  %>" class="gf-input gf-in-80 currency" />
            <input type="number" name="81" value="<%= data['81'] ? data['81'] : ''  %>" class="gf-input gf-in-81 currency" />
            <input type="number" name="82" value="<%= data['82'] ? data['82'] : ''  %>" class="gf-input gf-in-82 currency" />
            <input type="number" name="83" value="<%= data['83'] ? data['83'] : ''  %>" class="gf-input gf-in-83 currency" />
            <input type="number" name="84" value="<%= data['84'] ? data['84'] : ''  %>" class="gf-input gf-in-84 currency" />
            <input type="number" name="85" value="<%= data['85'] ? data['85'] : ''  %>" class="gf-input gf-in-85 currency" />
            <input type="number" name="86" value="<%= data['86'] ? data['86'] : ''  %>" class="gf-input gf-in-86 currency" />
            <input type="number" name="87" value="<%= data['87'] ? data['87'] : ''  %>" class="gf-input gf-in-87 currency" />
            <input type="number" name="88" value="<%= data['88'] ? data['88'] : ''  %>" class="gf-input gf-in-88 currency" />
            <input type="number" name="89" value="<%= data['89'] ? data['89'] : ''  %>" class="gf-input gf-in-89 currency" />
            <input type="number" name="90" value="<%= data['90'] ? data['90'] : ''  %>" class="gf-input gf-in-90 currency" />
            <input type="number" name="91" value="<%= data['91'] ? data['91'] : ''  %>" class="gf-input gf-in-91 currency" />
            <input type="number" name="92" value="<%= data['92'] ? data['92'] : ''  %>" class="gf-input gf-in-92 currency" />
            <input type="number" name="93" value="<%= data['93'] ? data['93'] : ''  %>" class="gf-input gf-in-93 currency" />
            <input type="number" name="94" value="<%= data['94'] ? data['94'] : ''  %>" class="gf-input gf-in-94 currency" />
            <input type="number" name="95" value="<%= data['95'] ? data['95'] : ''  %>" class="gf-input gf-in-95 currency" />
            <input type="number" name="96" value="<%= data['96'] ? data['96'] : ''  %>" class="gf-input gf-in-96 currency" />
            <input type="number" name="97" value="<%= data['97'] ? data['97'] : ''  %>" class="gf-input gf-in-97 currency" />
            <input type="number" name="98" value="<%= data['98'] ? data['98'] : ''  %>" class="gf-input gf-in-98 currency" />
            <input type="number" name="99" value="<%= data['99'] ? data['99'] : ''  %>" class="gf-input gf-in-99 currency" />
            <input type="number" name="100" value="<%= data['100'] ? data['100'] : ''  %>" class="gf-input gf-in-100 currency" />
            <input type="number" name="101" value="<%= data['101'] ? data['101'] : ''  %>" class="gf-input gf-in-101 currency" />
            <input type="number" name="102" value="<%= data['102'] ? data['102'] : ''  %>" class="gf-input gf-in-102 currency" />
            <input type="number" name="103" value="<%= data['103'] ? data['103'] : ''  %>" class="gf-input gf-in-103 currency" />
            <input type="number" name="104" value="<%= data['104'] ? data['104'] : ''  %>" class="gf-input gf-in-104 currency" />

            <input type="text" value="<%= data['105'] ? data['105'] : '' %>" class="gf-input gf-in-105" />
            <input type="number" name="107" value="<%= data['107'] ? data['107'] : ''  %>" class="gf-input gf-in-107 currency" />
            <input type="number" name="108" value="<%= data['108'] ? data['108'] : ''  %>" class="gf-input gf-in-108 currency" />
            <input type="number" name="109" value="<%= data['109'] ? data['109'] : ''  %>" class="gf-input gf-in-109 currency" />
            <input type="number" name="110" value="<%= data['110'] ? data['110'] : ''  %>" class="gf-input gf-in-110 currency" />
            <input type="number" name="111" value="<%= data['111'] ? data['111'] : ''  %>" class="gf-input gf-in-111 currency" />
            <input type="number" name="112" value="<%= data['112'] ? data['112'] : ''  %>" class="gf-input gf-in-112 currency" />
            <input type="number" name="113" value="<%= data['113'] ? data['113'] : ''  %>" class="gf-input gf-in-113 currency" />
            <input type="number" name="114" value="<%= data['114'] ? data['114'] : ''  %>" class="gf-input gf-in-114 currency" />
            <input type="number" name="115" value="<%= data['115'] ? data['115'] : ''  %>" class="gf-input gf-in-115 currency" />
            <input type="number" name="116" value="<%= data['116'] ? data['116'] : ''  %>" class="gf-input gf-in-116 currency" />
            <input type="number" name="117" value="<%= data['117'] ? data['117'] : ''  %>" class="gf-input gf-in-117 currency" />
            <input type="number" name="118" value="<%= data['118'] ? data['118'] : ''  %>" class="gf-input gf-in-118 currency" />
            <input type="number" name="119" value="<%= data['119'] ? data['119'] : ''  %>" class="gf-input gf-in-119 currency" />
            <input type="number" name="120" value="<%= data['120'] ? data['120'] : ''  %>" class="gf-input gf-in-120 currency" />
            <input type="number" name="121" value="<%= data['121'] ? data['121'] : ''  %>" class="gf-input gf-in-121 currency" />
            <input type="number" name="122" value="<%= data['122'] ? data['122'] : ''  %>" class="gf-input gf-in-122 currency" />
            <input type="number" name="123" value="<%= data['123'] ? data['123'] : ''  %>" class="gf-input gf-in-123 currency" />
            <input type="number" name="124" value="<%= data['124'] ? data['124'] : ''  %>" class="gf-input gf-in-124 currency" />
            <input type="number" name="125" value="<%= data['125'] ? data['125'] : ''  %>" class="gf-input gf-in-125 currency" />
            <input type="number" name="126" value="<%= data['126'] ? data['126'] : ''  %>" class="gf-input gf-in-126 currency" />
            <input type="number" name="127" value="<%= data['127'] ? data['127'] : ''  %>" class="gf-input gf-in-127 currency" />
            <input type="number" name="128" value="<%= data['128'] ? data['128'] : ''  %>" class="gf-input gf-in-128 currency" />
            <input type="number" name="129" value="<%= data['129'] ? data['129'] : ''  %>" class="gf-input gf-in-129 currency" />
            <input type="number" name="130" value="<%= data['130'] ? data['130'] : ''  %>" class="gf-input gf-in-130 currency" />
            <input type="number" name="131" value="<%= data['131'] ? data['131'] : ''  %>" class="gf-input gf-in-131 currency" />
            <input type="number" name="132" value="<%= data['132'] ? data['132'] : ''  %>" class="gf-input gf-in-132 currency" />

            <input type="number" name="133" value="<%= data['133'] ? data['133'] : ''  %>" class="gf-input gf-in-133 currency" />
            <input type="number" name="134" value="<%= data['134'] ? data['134'] : ''  %>" class="gf-input gf-in-134 currency" />
            <input type="number" name="135" value="<%= data['135'] ? data['135'] : ''  %>" class="gf-input gf-in-135 currency" />
            <input type="number" name="136" value="<%= data['136'] ? data['136'] : ''  %>" class="gf-input gf-in-136 currency" />
            <input type="number" name="137" value="<%= data['137'] ? data['137'] : ''  %>" class="gf-input gf-in-137 currency" />
            <input type="number" name="138" value="<%= data['138'] ? data['138'] : ''  %>" class="gf-input gf-in-138 currency" />
            <input type="number" name="139" value="<%= data['139'] ? data['139'] : ''  %>" class="gf-input gf-in-139 currency" />
            <input type="number" name="140" value="<%= data['140'] ? data['140'] : ''  %>" class="gf-input gf-in-140 currency" />
            <input type="number" name="141" value="<%= data['141'] ? data['141'] : ''  %>" class="gf-input gf-in-141 currency" />
            <input type="number" name="142" value="<%= data['142'] ? data['142'] : ''  %>" class="gf-input gf-in-142 currency" />
            <input type="number" name="143" value="<%= data['143'] ? data['143'] : ''  %>" class="gf-input gf-in-143 currency" />
            <input type="number" name="144" value="<%= data['144'] ? data['144'] : ''  %>" class="gf-input gf-in-144 currency" />
        </div>
        <hr/>
        <!-- ---------- PAGE 3 ------------- -->
        <div class="gf-main-container">
            <img src="<%- imageBaseUrl + '/form303_3.jpeg' %>" style="width: 100%;height: auto;" />
            
            <input type="text" value="<%= cifNif %>" class="gf-input gf-cifnif-pg-3" readonly />
            <input type="text" value="<%= name %>" class="gf-input gf-name-pg-3" readonly />

            <input type="number" name="145" value="<%= data['145'] ? data['145'] : '0.00'  %>" class="gf-input gf-in-145 currency" />
            <input type="number" name="146" value="<%= data['146'] ? data['146'] : '0.00'  %>" class="gf-input gf-in-146 currency" />
            <input type="number" name="147" value="<%= data['147'] ? data['147'] : '0.00'  %>" class="gf-input gf-in-147 currency" />

            <input type="number" name="157" value="<%= data['157'] ? data['157'] : '0.00'  %>" class="gf-input gf-in-157 currency" />
            <input type="number" name="158" value="<%= data['158'] ? data['158'] : '0.00'  %>" class="gf-input gf-in-158 currency" />
            <input type="number" name="159" value="<%= data['159'] ? data['159'] : '0.00'  %>" class="gf-input gf-in-159 currency" />
            <input type="number" name="160" value="<%= data['160'] ? data['160'] : '0.00'  %>" class="gf-input gf-in-160 currency" />
            <input type="number" name="161" value="<%= data['161'] ? data['161'] : '0.00'  %>" class="gf-input gf-in-161 currency" />
            <input type="number" name="162" value="<%= data['162'] ? data['162'] : '0.00'  %>" class="gf-input gf-in-162 currency" />
            <input type="number" name="165" value="<%= data['165'] ? data['165'] : '0.00'  %>" class="gf-input gf-in-165 currency" />
            <input type="number" name="166" value="<%= data['166'] ? data['166'] : '0.00'  %>" class="gf-input gf-in-166 currency" />
            <input type="number" name="167" value="<%= data['167'] ? data['167'] : '0.00'  %>" class="gf-input gf-in-167 currency" />
            <input type="number" name="168" value="<%= data['168'] ? data['168'] : '0.00'  %>" class="gf-input gf-in-168 currency" />
        </div>

    </form>
</body>

</html>